    <form method="POST" action="#" class="form-resultats">
        <label class="label-dark" for="email">Entre ton e-mail</label>
        <input type="email" class="input-dark" placeholder="E-mail" required>
        <button type="submit" onclick="location.href='/'" class="button-form-dark">Recevoir mes résultats</button>
    </form>
    
    <script>
    
    document.addEventListener('DOMContentLoaded', () => {
    
    document.querySelector('form').addEventListener('submit', event => {
        event.preventDefault();
    
        console.log(document.querySelector('input').value)
    
        fetch('http://localhost:3000/result', {
            method: 'POST',
            body: JSON.stringify( { email: document.querySelector('input').value } ),
            headers: {
                "Content-type": "application/json"
            }
        })
        .then( apiResponse => {
            console.log(apiResponse)
            return apiResponse.json()
        } )
        .then( jsonResponse => console.log(jsonResponse) )
        .catch( apiError => console.error(apiError) )
    })
    
    
    })
    
    </script>
    
    