<% include ../components/header.ejs %>

<body>
    <header class="header-white">
        <nav>
                <a class="logo" href="/"><img class="logo" src="/img/logo.png"/></a>
                <a class="menu" href="#"><img class="menu" src="/img/menu-dark.png"/></a>
        </nav>
    </header>
    <img src="/img/comment-banner.png" alt="" class="banner">
    <main>
        <section class="section">
            <h2>Comment voter aux élections<br>européennes ?</h2>
            <p>Les électeurs en France doivent voter dans les bureaux de vote situés dans les mairies de leur commune de résidence, en fonction de leur adresse de domicile ou de leur lieu d’imposition depuis 5 ans.</p>
        </section>
        <section class="calendrier">
            <img src="/img/calendrier.png" alt="San Francisco">
            <h2>Il ne reste plus que 3 jours avant les élections européennes</h2>
            <p>Ajoute cet événement à ton agenda pour ne pas oublier</p>
            <a class="button-blue" href="#" role="button">Ajouter à mon calendrier</a>
        </section>
        <section class="section">
            <h3>Les obligations</h3>
            <p>Afin de pouvoir voter, les résidents français doivent être inscrits sur la liste électorale de leur commune. Cette dernière peut être : 
            <br><br>
            - La municipalité de leur résidence principale ou du lieu où ils habitent depuis au moins 6 mois 
            <br><br>
            - La municipalité où ils sont assujettis à l’impôt depuis au moins 5 ans : les conjoint(e)s de l’électeur peuvent également s’inscrire sur la liste électorale de cette commune, selon cette règle ;
            <br><br>        
            - Pour les fonctionnaires, la municipalité de leur résidence d’affectation obligatoire.</p>
            <img src="/img/comment.png" alt="San Francisco">
            <br><br> <br>           
            <p>Également, il faut rappeler, que l’âge minimum pour voter est de 18 ans révolus.
            <br><br>
            Rappelons également qu’il est possible pour quiconque de voter par procuration, dans le cas où une indisponibilité avérée empêcherait le citoyen de voter.</p>
        </section>
        <footer class="footer-big">
            <h2>T’en as marre de ne rien <br>comprendre à la politique ?</h2>
            <p>On t’a préparé un quiz qui va te permettre d’apprendre simplement et rapidement la politique européenne.</p>
            <a class="button-white" href="/introquiz" role="button">Commencer le quiz</a>
            <p>© Ministère de l'Éducation Nationale et de la Jeunesse</p>
        </footer>
    </main>
</body>
</html>