<% include ../components/header.ejs %>

    <header class="header-white">
        <nav>
                <a class="logo" href="/"><img class="logo" src="/img/logo.png"/></a>
                <a class="menu" href="#"><img class="menu" src="/img/menu-dark.png"/></a>
        </nav>
    </header>
    <img src="/img/quiz.png" alt="" class="banner">
    <section class="section">
        <h2>Teste tes connaissanes sur <br>l'Union Européenne ?</h2>
        <p>T’en as marre de rien comprendre à la politique pendant les diners de famille ? Réponds à ce test qui te permettra enfin de comprendre ce qu’est l’Union Européenne. Promis, c’est pas relou !</p>
        <a class="button-blue" href="/question1" role="button">Commencer le quiz</a>
    </section>

<% include ../components/footer.ejs %>