<% include ../components/header.ejs %>
    
    <header class="header-white">
        <nav>
                <a class="logo" href="/"><img class="logo" src="/img/logo.png"/></a>
                <a class="menu" href="#"><img class="menu" src="/img/menu-dark.png"/></a>
        </nav>
    </header>
    <img src="/img/pourquoi-banner.png" alt="" class="banner">
    <main>
        <section class="section">
            <h2>Pourquoi est-il si important de<br>voter aux européennes ?</h2>
            <p>Les élections européennes de 2019 offrent aux citoyens européens l’occasion de désigner directement, au suffrage universel direct, les représentants qui agiront en leur nom pendant 5 ans, au Parlement européen.</p>
            <img src="/img/pourquoi.png" alt="San Francisco">
            <h3>Ton vote défend la démocratie</h3>
            <p>Partout autour de nous, on voit comment des «vérités» incontestées peuvent transformer la diversité en divisions. Et à quel point la démocratie peut être fragile. Notre Union est fondée sur le respect partagé des droits fondamentaux et des principes démocratiques. Par ton vote, tu revendiques ces droits, pour toi‑même et pour les autres.</p>
        </section>
        <section class="calendrier">
            <img src="/img/calendrier.png" alt="San Francisco">
            <h2>Il ne reste plus que 3 jours avant les élections européennes</h2>
            <p>Ajoute cet événement à ton agenda pour ne pas oublier</p>
            <a class="button-blue" href="#" role="button">Ajouter à mon calendrier</a>
        </section>
        <section class="section">
            <h3>Ton vote donne à l’Union Européenne la force de te protéger, toi et ta famille.</h3>
            <p>Le monde est confronté à de nombreuses problématiques, de la crise migratoire au changement climatique. Mais lorsqu’ils sont partagés, les problèmes sont plus faciles à résoudre. Notre Union montre la voie, par exemple en encourageant l’innovation et les investissements nécessaires pour lutter contre les changements climatiques. Et elle s’efforce de protéger notre mode de vie et notre vie privée. Ton vote lui donne la force dont elle a besoin pour y parvenir</p> 
            <img src="/img/superhero.png" alt="San Francisco">
            <h3>Ton vote influence les décisions du Parlement Européen sur les questions qui touchent à ta vie quotidienne.</h3>
            <p>Le Parlement européen prend des décisions importantes: comment développer l’économie, comment réduire la consommation d’énergie, comment garantir que la nourriture que nous mangeons est sans danger. En allant voter, tu choisis ceux qui prennent ces décisions, avec tout ce que cela implique pour le monde dans lequel tu veux vivre. Si tu ne votes pas, tu n’as pas ton mot à dire.</p>
        </section>
        <section class="footer-big">
            <h2>T’en as marre de ne rien <br>comprendre à la politique ?</h2>
            <p>On t’a préparé un quiz qui va te permettre d’apprendre simplement et rapidement la politique européenne.</p>
            <a class="button-white" href="/introquiz" role="button">Commencer le quiz</a>
            <p>© Ministère de l'Éducation Nationale et de la Jeunesse</p>
        </section>
    </main>
</body>
</html>