<% include ../components/header.ejs %>

    <header class="header-white">
        <nav>
                <a class="logo" href="/"><img class="logo" src="/img/logo.png"/></a>
                <a class="menu" href="#"><img class="menu" src="/img/menu-dark.png"/></a>
        </nav>
    </header>
    <section>
        <h4>Question 1</h4>
        <h2>Qu'est ce que l'Espace <br>Schengen ?</h2>
        <div class="list-solution">
                <input id="toggle1" type="checkbox">
                <label for="toggle1">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        
                <input id="toggle2" type="checkbox">
                <label for="toggle2">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        
                <input id="toggle3" type="checkbox">
                <label for="toggle3">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        
                <input id="toggle4" type="checkbox">
                <label for="toggle4">Un espace de libre circulation des personnes entre les Etats d'UE</label>
                <button id="myBtn" class="validate" onclick="location.href='/reponse1'" type="button">Valider ma réponse</button>
        </div>
    </section>

    <% include ../components/footer.ejs %>