<% include ../components/header.ejs %>

    <header class="header-white">
        <nav>
                <a class="logo" href="/"><img class="logo" src="/img/logo.png"/></a>
                <a class="menu" href="#"><img class="menu" src="/img/menu-dark.png"/></a>
        </nav>
    </header>
    <section>
        <h4>Question 1</h4>
        <h2>Qu'est ce que l'Espace <br>Schengen ?</h2>
        <div class="list-solution">
                <input id="toggle1" type="checkbox">
                <label for="toggle1">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        
                <input id="toggle2" type="checkbox">
                <label class="input-vert" for="toggle2">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        
                <input id="toggle3" type="checkbox">
                <label for="toggle3">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        
                <input id="toggle4" type="checkbox">
                <label for="toggle4">Un espace de libre circulation des personnes entre les Etats d'UE</label>
        </div>
    </section>
    <section class="section">
        <h3>Informations complémentaires</h3>
        <p>Il désigne un espace de libre circulation des personnes entre les États signataires de l’accord de Schengen.</p>
        <br><br>
        <p>Le principe de la liberté de circulation des personnes implique que tout individu (ressortissant de l’UE ou d’un pays tiers), une fois entré sur le territoire de l’un des pays membres, peut franchir les frontières des autres pays sans subir de contrôles. Les vols aériens entre villes de l’espace Schengen sont considérés comme des vols intérieurs.</p>
        <br><br>
        <p>En revanche, les contrôles aux frontières extérieures de l’espace Schengen sont renforcés.</p>
        <a class="button-blue" href="resultats-quiz" role="button">Terminer le quiz</a>
    </section>

    <% include ../components/footer.ejs %>