<% include ../components/header.ejs %>

    <header class="header-white">
        <nav>
                <a class="logo" href="/"><img class="logo" src="/img/logo.png"/></a>
                <a class="menu" href="#"><img class="menu" src="/img/menu-dark.png"/></a>
        </nav>
    </header>
    <img src="/img/pourquoi-banner.png" alt="" class="banner">
    <main>
        <section class="section">
            <h2>Qu'est ce que<br>l'Union Européenne ?</h2>
            <p>L’Union européenne (UE) est l’association volontaire d’États européens, dans les domaines économique et politique, afin d’assurer le maintien de la paix en Europe et de favoriser le progrès économique et social.</p>
            <img src="/img/ue.png" alt="union européenne">
            <br><br><br>
            <p>L’UE est une organisation unique. Ce n’est ni une fédération, ni une confédération d’États, ni une organisation internationale</p>
            <h3>28 membres unis</h3>
            <p>Depuis le 1er juillet 2013, l’UE compte 28 membres : Allemagne, Autriche, Belgique, Bulgarie, Chypre, Croatie, Danemark, Espagne, Estonie, Finlande, France, Grèce, Hongrie, Irlande, Italie, Lettonie, Lituanie, Luxembourg, Malte, Pays-Bas, Pologne, Portugal, République tchèque, Roumanie, Royaume-Uni, Slovaquie, Slovénie, Suède.</p>
            <img src="/img/carte.png" alt="San Francisco">
            <h3>Une organisation unique</h3>
            <p>L’UE est une organisation unique. Ce n’est ni une fédération, ni une confédération d’États, ni une organisation internationale.</p>
            <img src="/img/organisation.png" alt="San Francisco">
            <br><br><br>
            <p> Elle est néanmoins dotée de la personnalité juridique par le traité de Lisbonne (art. 47 TUE), ce qui lui permet de conclure des traités ou d’adhérer à des conventions. Enfin, l’UE possède des institutions fortes, auxquelles les États membres ont transféré une partie de leurs compétences.</p>
        </section>
        <section class="footer-big">
            <h2>T’en as marre de ne rien <br>comprendre à la politique ?</h2>
            <p>On t’a préparé un quiz qui va te permettre d’apprendre simplement et rapidement la politique européenne.</p>
            <a class="button-white" href="/introquiz" role="button">Commencer le quiz</a>
            <p>© Ministère de l'Éducation Nationale et de la Jeunesse</p>
        </section>
    </main>
</body>
</html>